html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

#order_list,
#rooms_list,
#tables_list,
#menu_sections_list,
#menu_items_list {
    display: none;
    list-style: none;
    padding: 0;
    clear: both;
    width: 100%;
}

.selectable_li {
    cursor: pointer;
    padding: 10px;
    background: #f39c12;
    margin-bottom: 2px;
}

.selectable_li:hover {
    background: #c0392b;
}

#rooms_list {
    overflow: auto;
    width: 100%;
}

#rooms_list .room {
    float: left;
    width: calc((100% - 4px) / 3);
    box-sizing: border-box;
}

#rooms_list .room:not(:last-child) {
    margin-right: 2px;
}

#rooms_list .activeroom {
    background: #c0392b;
}

.menu_item_note{
    padding: 0;
    margin-left: 10px;
    float: right;
}

#btn-send-order{
    display: none;
}